# Built binary
/knaller

# GoReleaser output
/dist/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles
*.out
coverage.*
*.coverprofile

# Go workspace
go.work
go.work.sum

# env file
.env

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~
